<md-content class="md-padding">
    <div class="row-3">
        <div class="input-wrap">
            <input ng-model="criteria.type" class="input" type="text" placeholder="Campaign Type">
            <label>Campaign Type</label>
        </div>
        <div class="input-wrap">
            <input ng-model="criteria.expectingLeads" class="input" type="text" placeholder="Expecting Leads">
            <label>Expecting Leads</label>
        </div>
        <div class="input-wrap">
            <input ng-model="criteria.expectingProspecting" class="input" type="text" placeholder="Expecting Prospecting">
            <label>Expecting Prospecting</label>
        </div>
    </div>
    <div class="row-3">
        <div class="input-wrap">
            <input ng-model="criteria.expectingNBP" class="input" type="text" placeholder="Expecting NBP">
            <label>Expecting NBP</label>
        </div>
        <div class="input-wrap">
            <input ng-model="criteria.expectingGWP" class="input" type="text" placeholder="Expecting GWP">
            <label>Expecting GWP</label>
        </div>
        <div class="input-wrap">
            <input ng-model="criteria.recruitmentNum" class="input" type="number" min="0" placeholder="No Of Recruitment" value="1">
            <label>No Of Recruitment</label>
        </div>
    </div>
    <div class="row">
        <div class="input-wrap">
            <input ng-model="criteria.note" class="input" type="text" placeholder="Note">
            <label>Note</label>
        </div>
    </div>
</md-content>