<md-content class="md-padding" >
    <div class="table-wrap">
        <table ng-table="Vehicles" class="table" show-filter="false">
            <tr ng-repeat="(i, item) in $data" class="table-row">
                <td>
                    <md-checkbox aria-label={{item.id}}></md-checkbox>
                </td>
                <td title="'Vehicle Type'" filter="{ type: 'text'}" sortable="'type'">
                    <h4 class="color-dark-blue">{{item.type}}</h4>
                </td>
                <td title="'Purpose'" filter="{ purpose: 'text'}" sortable="'purpose'">
                    {{item.purpose}}
                </td>
                <td title="'No of Seats'" filter="{ seats: 'number'}" sortable="'seats'">
                    {{item.seats}}
                </td>
                <td title="'Date Requested'" filter="{ dateRequested: 'text'}" sortable="'dateRequested'">
                    {{item.dateRequested}}
                </td>
                <td title="'Checked By'" filter="{ checkedBy: 'text'}" sortable="'checkedBy'">
                    {{item.checkedBy}}
                </td>
                <td title="'Approved By'" filter="{ approvedBy: 'text'}" sortable="'approvedBy'">
                    {{item.approvedBy}}
                </td>
                <td title="'Approved Date'" filter="{ approvedDate: 'text'}" sortable="'approvedDate'">
                    {{item.approvedDate}}
                </td>
                <td>
                    <md-button ng-click="showAddEditVehicle($event, item)" class="md-primary button">Edit</md-button>
                </td>
                <td>
                    <md-button ng-click="removeVehicle(i, item.id)" class="md-secondary button">Remove</md-button>
                </td>
            </tr>
        </table>
    </div>
</md-content>