#summary {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    .section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .main-title {
            color: $gray1;
        }

        .info-wrap {
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(150px, 350px) ) ;
            gap: 30px;
            width: 100%;

            .info {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;

                .title {
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
        }
    }
}