<md-content class="md-padding main-content-wrap">
    <div class="row-3">
        <div class="input-wrap">
            <input ng-model="mainInfo.basicSalary" class="input" type="number" min="0" placeholder="Basic Salary (LKR)">
            <label>Basic Salary (LKR)</label>
        </div>
        <div class="input-wrap">
            <input ng-model="mainInfo.otherIncome" class="input" type="number" min="0" placeholder="Other Income (LKR)">
            <label>Other Income (LKR)</label>
        </div>
        <div class="input-wrap">
            <input ng-model="mainInfo.netRevenue" class="input" type="number" min="0" placeholder="Net Revenue (LKR)">
            <label>Net Revenue (LKR)</label>
        </div>
    </div>
    <div class="row-2 reverse">
        <div class="input-wrap">
            <input ng-model="mainInfo.placeOfWork" class="input" type="text" placeholder="Place of Work">
            <label>Place of Work</label>
        </div>
        <div class="input-wrap">
            <input ng-model="mainInfo.language" class="input" type="text" placeholder="Preferred Language">
            <label>Preferred Language</label>
        </div>
    </div>
    <div class="row">
        <div class="input-wrap">
            <input ng-model="mainInfo.description" class="input" type="text" placeholder="Description">
            <label>Description</label>
        </div>
    </div>
    <div class="row">
        <div class="input-wrap">
            <input ng-model="mainInfo.note" class="input" type="text" placeholder="Note">
            <label>Note</label>
        </div>
    </div>
</md-content>