<md-content class="md-padding main-content-wrap">
    <div class="row-3">
        <div class="input-wrap">
            <input ng-model="mainInfo.mobile" class="input" type="text" placeholder="Mobile Number">
            <label>Mobile Number</label>
        </div>
        <div class="input-wrap">
            <input ng-model="mainInfo.contact2" class="input" type="text" placeholder="Phone Number">
            <label>Phone Number</label>
        </div>
        <div class="input-wrap">
            <input ng-model="mainInfo.officeContact" class="input" type="text" placeholder="Office Phone Number">
            <label>Office Phone Number</label>
        </div>
    </div>
    <div class="row-2 reverse">
        <div class="input-wrap">
            <input ng-model="mainInfo.emailId" class="input" type="email" placeholder="Email ID">
            <label>Email ID</label>
        </div>
        <div class="input-wrap">
            <input ng-model="mainInfo.address2" class="input" type="text" placeholder="Address">
            <label>Address</label>
        </div>
    </div>
    <div class="row-3">
        <div class="input-wrap">
            <input ng-model="mainInfo.zipCode" class="input" type="text" placeholder="Postal / Zip Code">
            <label>Postal / Zip Code</label>
        </div>
        <div class="input-wrap">
            <input ng-model="mainInfo.city" class="input" type="text" placeholder="City / Town">
            <label>City / Town</label>
        </div>
        <div class="input-wrap">
            <input ng-model="mainInfo.province" class="input" type="text" placeholder="Province">
            <label>Province</label>
        </div>
    </div>
</md-content>