<md-sidenav class="md-sidenav-right md-padding analysis-personal-display-sidebar" md-component-id="leads-management-analysis-personal-nondependant-display" md-whiteframe="4" md-disable-close-events>

    <md-toolbar>
        <div class="section">
            <md-button ng-click="closeSideNav('leads-management-analysis-personal-nondependant-display', {}, 'personalData')" class="md-icon-button"
                aria-label="Close">
                <md-icon ng-bind="'close'"></md-icon>
            </md-button>
        </div>
        
        <div class="section">
            <div ng-if="!analysis.client.fName" class="image-section">
                <img src="public/images/profile.png" alt="profile" class="image" />
                <div class="text-wrap">
                    <h3 class="title">New Client</h3>
                </div>
            </div>
            <div ng-if="!!analysis.client.fName" class="image-section">
                <div ng-if="!analysis.client.images[0]" class="image">
                    <span class="nameLetter">{{ analysis.client.fName | extractFirstLetter}}</span>
                </div>
                <img ng-if="analysis.client.images[0]" src="{{analysis.client.images[0].file}}" alt="profile" class="image" />
                <div class="text-wrap">
                    <h3 class="title">{{analysis.client.fName}} {{analysis.client.lName}}</h3>
                    <p ng-if="analysis.client.id" class="desc">{{analysis.client.id}}</p>
                </div>
            </div>
        </div>
        <div class="social-section">
            <a href="{{social.link}}" target="_blank" class="social-wrap" ng-repeat="social in socials">
                <span class="iconify" data-icon="mdi:{{social.icon}}"></span>
            </a>
        </div>
    </md-toolbar>

    <md-content class="content" layout-margin="">
        <h4 ng-if="personalData.type == 'client'"  class="title">Client Details</h4>
        <h4 ng-if="personalData.type == 'spouse'"  class="title">Spouse Details</h4>

        <div class="info-wrap">
            <div class="info">
                <p class="title">personalData ID</p>
                <p class="value">{{personalData.id}}</p>
            </div>
            <div class="info">
                <p class="title">First Name</p>
                <p class="value">{{personalData.fName}}</p>
            </div>
            <div class="info">
                <p class="title">Last Name</p>
                <p class="value">{{personalData.lName}}</p>
            </div>
            <div class="info">
                <p class="title">Contact Number</p>
                <p class="value">{{personalData.contact}}</p>
            </div>
            <div class="info">
                <p class="title">Gender</p>
                <p class="value">{{personalData.gender}}</p>
            </div>
            <div class="info">
                <p class="title">Date Of Birth</p>
                <p class="value">{{personalData.dob | formatDate}}</p>
            </div>
            <div class="info">
                <p class="title">Occupation</p>
                <p class="value">{{personalData.job}}</p>
            </div>
            <div class="info">
                <p class="title">Designation</p>
                <p class="value">{{personalData.designation}}</p>
            </div>
        </div>
    </md-content>

    <div class="button-wrap">
        <md-button ng-click="openAnotherSideNav('leads-management-analysis-personal-nondependant', personalData, 'personalData', 'leads-management-analysis-personal-nondependant-display')" class="md-raised button bg-blue lg">
            Manage Details
        </md-button>
    </div>

</md-sidenav>