.appointment-popup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .md-dialog-content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .row {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100%;

            .input-wrap {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .appointment-popup {
        .md-dialog-content{
            .row {
                flex-direction: column;
            }
        }
    }
}