<div id="newCampaign" class="container" ng-controller="newCampaignController">
    <div class="container-top">
        <div class="section">
            <h2 class="title">Campaigns</h2>
            <p class="last-update">Please check the details and validate data</p>
        </div>

        <div class="section">
            <md-button ng-if="tabIndex == 2" class="md-raised button lg bg-blue" ng-click="showAddEditArtwork($event)" >Add  Artworks</md-button>
            <md-button ng-if="tabIndex == 4" class="md-raised button lg bg-blue" ng-click="showAddEditVehicle($event)" >Add New Vehicle</md-button>
            <md-button ng-if="tabIndex == 6" class="md-raised button lg bg-blue" ng-click="addNewFB($event)" >Add New F&B</md-button>
            <md-button ng-if="tabIndex == 7" class="md-raised button lg bg-blue" ng-click="onParticipantManage({quotationsFiles: [], participantsFiles: []}, true)" >Add Participant</md-Browseutton>
        </div>
    </div>

    <div class="tabs-section">
        <md-content>
            <md-tabs md-selected="tabIndex" md-dynamic-height md-border-bottom>
                <md-tab label="Main Info">
                    <div class="tab-div" id="mainInfo" ng-include="'views/campaign/new/mainInfo.html'"></div>
                </md-tab>
                <md-tab label="Criteria">
                    <div class="tab-div" id="criteria" ng-include="'views/campaign/new/criteria.html'"></div>
                </md-tab>
                <md-tab label="Artworks">
                    <div class="tab-div" id="artworks" ng-include="'views/campaign/new/artworks.html'"></div>
                </md-tab>
                <md-tab label="Budget">
                    <div class="tab-div" id="budget" ng-include="'views/campaign/new/budget.html'"></div>
                </md-tab>
                <md-tab label="Vehicle">
                    <div class="tab-div" id="vehicle" ng-include="'views/campaign/new/vehicle.html'"></div>
                </md-tab>
                <md-tab label="Other Arrangements">
                    <div class="tab-div" id="otherArrangements" ng-include="'views/campaign/new/otherArrangements.html'"></div>
                </md-tab>
                <md-tab label="F&B">
                    <div class="tab-div" id="fb" ng-include="'views/campaign/new/fb.html'"></div>
                </md-tab>
                <md-tab label="Participants">
                    <div ng-if="!state.manageParticipant" class="tab-div" id="participants" ng-include="'views/campaign/new/participants.html'"></div>
                    <div ng-if="state.manageParticipant" class="tab-div" id="participants" ng-include="'views/campaign/new/participants.manage.html'"></div>
                </md-tab>
                <md-tab label="Summary">
                    <div class="tab-div" id="summary" ng-include="'views/campaign/new/summary.html'"></div>
                </md-tab>
            </md-tabs>

            <div ng-if="!updateState" class="button-wrap">
                <md-button ng-if="tabIndex == 0" ng-click="continueToNextStep(); saveCampaign()" class="md-primary md-raised button lg bg-blue">Save & Continue </md-button>
                <md-button ng-if="tabIndex == 1" ng-click="continueToNextStep(); updateCriteria()" class="md-primary md-raised button lg bg-blue">Save & Continue </md-button>
                <md-button ng-if="tabIndex == 2" ng-click="continueToNextStep()" class="md-primary md-raised button lg bg-blue">Save & Continue </md-button>
                <md-button ng-if="tabIndex == 3" ng-click="continueToNextStep(); updateBudgets()" class="md-primary md-raised button lg bg-blue">Save & Continue </md-button>
                <md-button ng-if="tabIndex == 4" ng-click="continueToNextStep()" class="md-primary md-raised button lg bg-blue">Save & Continue </md-button>
                <md-button ng-if="tabIndex == 5" ng-click="continueToNextStep(); updateOtherArrangements()" class="md-primary md-raised button lg bg-blue">Save & Continue</md-button>
                <md-button ng-if="tabIndex == 6" ng-click="continueToNextStep(); updateFB()" class="md-primary md-raised button lg bg-blue">Save & Continue </md-button>
                <!-- <md-button ng-if="tabIndex == 7" ng-click="continueToNextStep(); updateParticipants()" class="md-primary md-raised button lg bg-blue">Save & Continue </md-button> -->
                <!-- <md-button ng-if="tabIndex == 7" ng-click="continueToNextStep(); updateParticipants()" class="md-primary md-raised button lg bg-blue">Save </md-button> -->
                <md-button ng-if="tabIndex == 8" ng-href="#/campaign-management/all"; class="md-primary md-raised button lg bg-blue">Close </md-button>
                <!-- <md-button ng-if="tabIndex < 8" ng-click="continueToNextStep()" class="md-primary md-raised button lg bg-blue">Continue</md-button> -->
                <md-button ng-if="tabIndex == 7 && state.manageParticipant" ng-click="continueToNextStep(); updateParticipant();" class="md-primary md-raised button lg bg-blue">Save Participant</md-button>
                <md-button ng-if="tabIndex == 7 && state.manageParticipant" ng-click="cancelManageParticipant()" class="md-primary button lg btn-outlined">Cancel</md-button>
            </div>
            <div ng-if="!!updateState" class="button-wrap">
                <md-button ng-if="tabIndex == 0" ng-click="updateMainInfo();" class="md-primary md-raised button lg bg-blue">Save Main Info</md-button>
                <md-button ng-if="tabIndex == 1" ng-click="updateCriteria()" class="md-primary md-raised button lg bg-blue">Save Criteria</md-button>
                <md-button ng-if="tabIndex == 3" ng-click="updateBudgets()" class="md-primary md-raised button lg bg-blue">Save Budgets</md-button>
                <md-button ng-if="tabIndex == 5" ng-click="updateOtherArrangements()" class="md-primary md-raised button lg bg-blue">Save Other Arrangements</md-button>
                <md-button ng-if="tabIndex == 6" ng-click="updateFB()" class="md-primary md-raised button lg bg-blue">Save F & B</md-button>
                <md-button ng-if="tabIndex == 7 && state.manageParticipant" ng-click="updateParticipant(); cancelManageParticipant()" class="md-primary md-raised button lg bg-blue">Save Participant</md-button>
                <md-button ng-if="tabIndex == 7 && state.manageParticipant" ng-click="cancelManageParticipant()" class="md-primary button lg btn-outlined">Cancel</md-button>
            </div>
        </md-content>
    </div>
</div>