<div id="scheduledCampaign" class="container" ng-controller="scheduledCampaignController">
    <div class="container-top">
        <div class="section">
            <h2 class="title">Scheduled Campaigns</h2>
            <p class="last-update">Last added 2 days ago</p>
        </div>

        <div class="section">
            <div class="search-input-wrap">
                <input ng-model="searchTxT" type="text" class="input" placeholder="Search ...">
            </div>

            <md-button href="#/campaign-management/new" class="md-primary md-raised button" style="color: #fff;">
                New Campaign
            </md-button>
        </div>
    </div>

    <div class="table-wrap">
        <table ng-table="ScheduledCampaigns" class="table" show-filter="false">
            <tr ng-repeat="item in $data | filter : searchTxT" class="table-row">
                <td>
                    <md-checkbox aria-label={{item.id}}></md-checkbox>
                </td>
                <td title="'Campaign ID'" filter="{ displayId: 'text'}" sortable="'displayId'">
                    <h4 class="color-dark-blue">{{item.displayId}}</h4>
                </td>
                <td title="'Campaign Name'" filter="{ name: 'text'}" sortable="'name'">
                    {{item.name}}
                </td>
                <td title="'Date'" filter="{ dateFrom: 'text'}" sortable="'dateFrom'">
                    {{item.dateFrom | formatDate}}
                </td>
                <td title="'Created By'" filter="{ createdBy: 'text'}" sortable="'createdBy'">
                    {{item.createdBy}}
                </td>
                <td title="'Approved By'" filter="{ approvedBy: 'text'}" sortable="'approvedBy'">
                    {{item.approvedBy}}
                </td>
                <td>
                    <md-button ng-click="redirectToCampaignManage(item)" class="md-primary button">Manage</md-button>
                </td>
                <td>
                    <md-button ng-click="removeCampaign(item)" class="md-secondary button">Remove</md-button>
                </td>
            </tr>
        </table>
    </div>
</div>