.analysis-personal-manage-sidebar {
    .social-section {
        margin-top: 10px;
        max-width: 80%;
        justify-content: space-between;
    }


    .content-wrap{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .row {
        display: grid;
        grid-template-columns: 47% 47%;
        justify-content: space-between;
    }

    .dropzone {
        max-width: 95%;

        &[data-uploaded="true"] {
            background-color: #c8fce0;
        }
    }
}