<md-sidenav class="md-sidenav-right md-padding" md-component-id="leads-management-sales" md-whiteframe="4"
    md-disable-close-events>
    
    <md-toolbar>
        <div class="section">
            <md-button ng-click="closeSideNav('leads-management-sales')" class="md-icon-button"
                aria-label="Close">
                <md-icon ng-bind="'close'"></md-icon>
            </md-button>
        </div>
        
        <div class="section">
            <h3 class="title">Recruitment Camp</h3>
            <p ng-if="!!sale.displayId" class="desc">{{sale.displayId}}</p>
            <p ng-if="!sale.id" class="desc">Please fill all the fields below</p>
        </div>
        <div class="social-section">
            <a href="{{social.link}}" target="_blank" class="social-wrap" ng-repeat="social in socials">
                <span class="iconify" data-icon="mdi:{{social.icon}}"></span>
            </a>
        </div>
    </md-toolbar>

    <md-content class="content-wrap" layout-margin="">
        
        <div class="content">
            <div class="title-wrap title-wrap-2">
                <h4 class="title">Description</h4>
            </div>

            <div class="inputs-wrap">
                <div class="input-wrap dropdown">
                    <md-select name="type" ng-model="sale.selectedLeadId">
                        <md-select-header>
                            <input style="width: 88%;" ng-model="searchTxt" class="input select-header-input"
                                onkeydown="event.stopPropagation()">
                        </md-select-header>
                        <md-option value="{{lead.id}}" ng-repeat="lead in leads | filter : searchTxt">
                            {{lead.fName}} {{lead.lName}}
                        </md-option>
                    </md-select>
                    <label>Lead</label>
                </div>
                <div class="input-wrap">
                    <input ng-model="sale.title" class="input" type="text" placeholder="Title">
                    <label>Title</label>
                </div>
                <div class="input-wrap">
                    <input ng-model="sale.fName" class="input" type="text" placeholder="First Name">
                    <label>First Name</label>
                </div>
                <div class="input-wrap">
                    <input ng-model="sale.lName" class="input" type="text" placeholder="Last Name">
                    <label>Last Name</label>
                </div>
                <div class="input-wrap">
                    <input ng-model="sale.contact" class="input" type="tel" placeholder="Contact">
                    <label>Contact</label>
                </div>
                <div class="input-wrap">
                    <input ng-model="sale.dob" class="input" type="date" placeholder="Date of Birth">
                    <label>Date of Birth</label>
                </div>
                <div class="input-wrap">
                    <input ng-model="sale.nic" class="input" type="text" placeholder="NIC">
                    <label>NIC</label>
                </div>
                <div class="input-wrap">
                    <input ng-model="sale.nationality" class="input" type="text" placeholder="Nationality">
                    <label>Nationality</label>
                </div>
                <div class="input-wrap">
                    <textarea ng-model="sale.message" class="input" type="text" placeholder="Message">{{sale.message}}</textarea>
                    <label>Message</label>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title-wrap title-wrap-2">
                <h4 class="title">Date Time</h4>
            </div>

            <div class="inputs-wrap row">
                <div class="input-wrap">
                    <input ng-model="sale.date" class="input" type="date" placeholder="Date From">
                    <label>Date From</label>
                </div>
                <div class="input-wrap">
                    <input ng-model="sale.time" class="input" type="time" placeholder="Time From">
                    <label>Time From</label>
                </div>
            </div>
            <div class="inputs-wrap">
                <div class="input-wrap dropdown">
                    <md-select name="type" ng-model="sale.product" aria-placeholder="Product">
                        <md-option value="product 1">product 1</md-option>
                    </md-select>
                    <label>Product</label>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title-wrap title-wrap-2">
                <h4 class="title">Status</h4>
            </div>

            <md-radio-group class="radio-wrap" ng-model="sale.status" aria-labelledby="Status">
                <md-radio-button class="md-primary" value="Not Started">Not Started</md-radio-button>
                <md-radio-button class="md-primary" value="In Progress">In Progress</md-radio-button>
                <md-radio-button class="md-primary" value="Completed">Completed</md-radio-button>
              </md-radio-group>
        </div>
        <div class="content">
            <div class="title-wrap title-wrap-2">
                <h4 class="title">Priority</h4>
            </div>

            <md-radio-group class="radio-wrap" ng-model="sale.priority" aria-labelledby="Priority">
                <md-radio-button class="md-primary" value="Low">Low</md-radio-button>
                <md-radio-button class="md-primary" value="Normal">Normal</md-radio-button>
                <md-radio-button class="md-primary" value="High">High</md-radio-button>
                <md-radio-button class="md-primary" value="Critical">Critical</md-radio-button>
              </md-radio-group>
        </div>
        <div class="content">
            <div class="title-wrap title-wrap-2">
                <h4 class="title">Presentations</h4>
            </div>

            <div class="md-dense checkbox-wrap" layout="row">
                <md-checkbox class="md-primary" ng-model="sale.presentation1">
                    Presentation 1
                </md-checkbox>
                <md-checkbox class="md-primary" ng-model="sale.presentation2">
                    Presentation 2
                </md-checkbox>
            </div>
        </div>
    </md-content>

    <div class="buttons-wrap">
        <md-button ng-click="saveSalesPresentation('leads-management-sales')" class="md-primary md-raised button bg-blue lg" >Send</md-button>
        <md-button ng-click="closeSideNav('leads-management-sales')" class="md-primary button btn-outlined lg" >Cancel</md-button>
    </div>

</md-sidenav>